body {
    background-color: tan;

}

#KoekwousText1 {

    color: black;
    font-family: monospace;

}
#FotoOnsPap {

    border-style: dotted;
    left: 3%
}
#TopText1 {
    
    color: black;
    font-family: fantasy;
    text-align: center;
    border-style: double;
    padding: 3%;

}
#TopText2 {

    color: rgb(61, 18, 18);

}
#MidText{

    color: rgb(42, 75, 42);


}
#fotoverrektekoekwous{

    position: absolute;
    top: 67%;
    right: 3%;
    border: 3px solid #73AD21;
    
}

.info {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    pointer-events: none;
    right: 0;
    bottom: 0;
  }
  .info svg {
    opacity: 0;
    width: clamp(50px, 5vw, 120px);
    height: clamp(50px, 5vw, 120px);
    transform: translateX(150%);
  }

.ripCanvas {
    width: 100%;
    height: 800px;
}

  .ripCanvas canvas {
    z-index: 2;
    cursor: -webkit-grab;
    cursor: grab;
  }
  